<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wyze - Returns Portal</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/home.js"></script>
    <noscript>You need to enable JavaScript to view the full site.</noscript>
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <section class="sidenav">
      <img src="images/logo.png">
      <button class="sidenav-option current" id="ticket-input">Input New Ticket</button>
      <button class="sidenav-option" id="ticket-query">Search For Ticket</button>
      <a href="/create" class="sidenav-option">Create New User</a>
    </section>
    <section class="main">
      <div class="topnav">
        <p>Welcome, <%= name %>!</p>
        <div id="navdetails">
          <p>Center: <%= origin %></p>
          <p id='time'></p>
        </div>
      </div>
      <div id="frm1" class="form">
        <h1>Input New Ticket</h1>
        <form>
          <label for="mac_addr">Input Ticket Number:</label>
          <input type="text" id="ticket_num" placeholder="e.g. 1543597">
          <label for="mac_addr">Input MAC Address:</label>
          <input type="text" id="mac_addr" name="mac" placeholder="e.g. 2CAA8E0B6C95" required>
          <label for="device">Select Device Type:</label>
          <select id="device" name="device" placeholder="Select an option" required>
            <option value="Wyze Cam v2">Wyze Cam v2</option>
            <option value="Wyze Cam v3">Wyze Cam v3</option>
            <option value="Wyze Cam Pan">Wyze Cam Pan</option>
            <option value="Wyze Cam Outdoor">Wyze Cam Outdoor</option>
            <option value="Wyze Watch 44">Wyze Watch 44</option>
            <option value="Wyze Watch 47">Wyze Watch 47</option>
            <option value="Wyze Outdoor Basestation">Wyze Outdoor Basestation</option>
            <option value="Wyze Robot Vacuum">Wyze Robot Vacuum</option>
          </select>
          <button id="btn">Submit</button>
        </form>
      </div>
      <div id="frm2" class="form hidden">
        <h1>Search by Ticket Number</h1>
        <form>
          <label for="tic_num_search">Ticket Number:</label>
          <input type="text" id="tic_num_search" placeholder="e.g. 1543597">
          <button id="search_btn_2">Search</button>
        </form>
      </div>
      <div id="frm3" class="form hidden">
        <h1>Search by MAC Address</h1>
        <form>
          <label for="mac_addr">MAC Address:</label>
          <input type="text" id="mac_addr_search" placeholder="e.g. 2CAA8E0B6C95">
          <button id="search_btn_2">Search</button>
        </form>
      </div>
      <div id="infoListContainer" class="hidden">
        <h1 id="searchType">Search Results:</h1>
        <ul id="infoList" ></ul>
      <div></div>
    </section>
  </body>
</html>