* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
}

body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #30d9ab;
  color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #30d9ab;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
  background-color: #2dc29a;
  transition: background-color 0.2s;
}

.topnav {
  background-color: #30d9ab;
  overflow: hidden;
}

.topnav a {
  color: #1a1a1a;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  pointer-events: none;
  display: flex;
  align-items:stretch;
  float: left;
  padding: 10px;
}

#navdetails {
  float: right;
}

.frm1 {
  width:auto;
  float:left;
  padding: 5px;
  font-size: 17px;
}

.frm1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #5b6574;
  font-size: 28px;
  padding: 20px;
  border-bottom: 1px solid #0a2968;
}

.frm1 label,select {
  font-size: 17px;
  padding-top: 5px;
  padding-right: 10px;
}