* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
}

body {
  background-color: #f1f1f1;
  font: 14px Helvetica, Arial, sans-serif;
}

.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #00d0b9;
  color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #00d0b9;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
  background-color: #2dc29a;
  transition: background-color 0.2s;
}

/* Following style handles home page */
.hidden {
  display: none;
}

.sidenav {
  height: 100%;
  max-width: 16em;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 1.5em;
  border-right: 1px solid #dee0e4
}

.sidenav img {
  width: 14em;
  margin-left: 0.5em;
  padding: 1em;
}

.sidenav-option {
  padding: 1.75em;
  text-decoration: none;
  font-size: 1.25em;
  color: #818181;
  display: block;
  max-width: 16em;
}

.sidenav button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.sidenav-option:hover {
  color: #00ffcc;
}

.sidenav .current {
  color: #00d0b9;
  font-weight: bold;
  border-right: 0.5em solid #00d0b9;
}

.main {
  margin-left: 16em;
  display: block;
  align-items: center;
  justify-content: center;
}

.topnav {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #b0b0b0;
  margin-bottom: 5em;
}

.topnav p {
  margin-left: 1em;
  float: left;
  font-size: 2em;
}

#navdetails {
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 20em;
  margin-top: 1em;
}

#navdetails p {
  font-size: 1.25em;
  margin: 0em;
  padding: 0.25em 2em 0.25em 0em;
}

.frm1, .frm2 {
  background-color: white;
  border-radius: 1em;
  width: 45%;
  margin: auto;
  padding: 0em 1em 1em 1em;
  font-size: 1em;
  color: #4a4a4a;
}

.frm1 h1, .frm2 h1 {
  font-size: 1.5em;
  margin: 0em 0em 0.5em 0em;
  padding: 0.5em;
  border-bottom: 1px solid #616161;
  font-weight: normal;
}

.frm1 label {
  display: block;
  font-size: 1em;
  padding-top: 0.25em;
}

.frm1 input, .frm1 select {
  width: 100%;
}

.frm1 button {
  margin-top: 1em;
}
